<mat-card class="dashboard-card">


      <mat-card-title>
        {{titleOfCard}}
        <select [(ngModel)]="county" (change)="getTweetByCounty()">

          <option  *ngFor="let county of countyTweets" [style]=county.color [disabled]=county.disabled [value]=county.name>
            {{county.name}}
          </option>

        </select>
        </mat-card-title>

    <mat-card-content class="dashboard-card-content">
        <ng-content>
        </ng-content>
    </mat-card-content>
 </mat-card>
