/* @JM_OneLess And @LV_OneLess (I used his card file and reformatted it to make a specific card so I want to give him credit)  */
.mat-card-content{
  overflow:auto;
  overflow-x: hidden;
}

.mat-card-title{
  text-align: left;
  word-wrap: break-word;
  font-size: 1.5em;
}
select{
  text-align: center;
  width:100%;
  font-size: .9em;
}



.more-button {
  position: absolute;
  top: -5px;
  right: -8px;
  z-index: 0;
}

 .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
 }


 .dashboard-card-content {
    text-align: left;
    flex-grow: 1;
    display: flex;
    max-height: 100%;
    justify-content: left;
 }

 mat-card {
    display: flex;
    flex-direction: column;
 }
