.mat-card-content{
  overflow:auto;
  overflow-x: hidden;
}

.mat-card-title{
  text-align: left;
  word-wrap: break-word;
  font-size: 1.5em;
}
select{
  text-align: center;
  width:100%;
  font-size: .9em;
}


options {
  text-align: center;
}
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
 }

 .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
 }


 .dashboard-card-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 90.5%;
    max-width: 110%;
   justify-content: start;
 }

 mat-card {
    display: flex;
    flex-direction: column;
 }
