/* @JM_OneLess And @LV_OneLess (I used his card file and reformatted it to make a specific card so I want to give him credit)  */
/* This file interacts with every other file in avalibilityDropDownCard.*/

<mat-card class="dashboard-card">

  <mat-card-title>
    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon>help_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      &nbsp; This section shows tweets about COVID &nbsp; &#013; &nbsp;&nbsp;vaccine availability in a Florida county that &nbsp; &#013; &nbsp;&nbsp; is selected in the drop down menu. &#013; &nbsp;&nbsp;AlachuaCounty is the default option.&nbsp;
    </mat-menu>

    {{titleOfCard}}
    <select  [(ngModel)]=county (change)="getTweetByCounty()">
      <option  *ngFor="let county of countyTweets" [style]=county.color [value]=county.name [disabled]=county.disabled>
        {{county.name}}
      </option>

    </select>



  </mat-card-title>

    <mat-card-content class="dashboard-card-content">
        <ng-content></ng-content>
    </mat-card-content>
 </mat-card>
