<!--
* @JM_OneLess This is modified code from Card (Leo made that).
* I made Modifications as this card needed a drop down, and
* long story short, for formatting, making a new card was the
*  best way to go. This card is for Vaccine Avalibility Information
*  in Florida. I added a drop down menu here
-->

<mat-card class="dashboard-card">
    <mat-card-header>

      <mat-card-title>
        {{titleOfCard}}
        <select  [(ngModel)]=county (change)="getTweetByCounty()">
          <option  *ngFor="let county of countyTweets" [style]=county.color [value]=county.name [disabled]=county.disabled>
            {{county.name}}
          </option>

        </select>



        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <ng-content></ng-content>
    </mat-card-content>
 </mat-card>
