<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass] = "{'dark-theme-mode':isDarkTheme}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'">
      <mat-toolbar><u>COVID19 Info Hub</u></mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="" (click)="drawer.toggle()">COVID Vaccine News</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/publications" (click)="drawer.toggle()">Scientific publications</a>
      <mat-divider></mat-divider>
      <mat-toolbar style="margin-left: 20%;"><u>CDC Info</u></mat-toolbar>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/pfizer" (click)="drawer.toggle()">Pfizer</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/moderna" (click)="drawer.toggle()">Moderna</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/jandj" (click)="drawer.toggle()">Johnson&Johnson</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/listofcomorbidities" (click)="drawer.toggle()">List of Comorbidities</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>COVID19 Dashboard</span>
      <span style="flex:auto"></span>
      <mat-slide-toggle labelPosition="before" [(ngModel)]="isDarkTheme" (change)= "storeThemeSelection()">
        <mat-icon>bedtime</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
