<!-- Drop down cards for the pubmed abstracts.
Author: Melanie McCord
-->
<mat-card class="dashboard-card">
  <mat-card-header>

    <mat-card-title>
      {{titleOfCard}}
      <select [(ngModel)]="key" (change)="getSearchByKeyword()">
        <option  *ngFor="let key of pubmedKeywords">
          {{key}}
        </option>
      </select>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="abstracts"></div>
    <ng-content>
    </ng-content>
  </mat-card-content>
</mat-card>
