<div class="grid-container">
  <h1 class="mat-h1">Scientific Publications</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="350px">
    <mat-grid-tile [colspan]="( cardLayout | async )?.Abstracts.cols" [rowspan]="( cardLayout | async )?.Abstracts.rows">
      <app-card title="Abstracts">
        <div class="pubmed" id="test"></div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.Visualization.cols" [rowspan]="( cardLayout | async )?.Visualization.rows">
      <app-card title="Visualization"><div>Visualization here</div></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
