/*@JM_OneLess && @LV_OneLess*/

.twitterRow{
  display: grid;
  padding: 1%;
  height: 100%;
  width: 100%;

  grid-auto-columns: 98%;
  grid-auto-rows: 40%;
  grid-auto-flow: row;

  grid-gap: 3%;
}

.twitterCol{
  box-align: stretch;
  display: grid;
  padding: 1%;
  height: 100%;
  width: 100%;

  grid-auto-columns: max(100px, 40%);
  grid-auto-flow: column;
  grid-auto-rows: 100%;

  grid-gap: 3%;
}

.grid-container {
  margin: 1.5%;
}

.dashboard-card {
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
}

/*Was used to create tab cards, but this is unused in the final product*/
.tab-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 600px;
  width: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

/*Makes objects be underneath everything*/
.under {
  width: max(100%,315px);
  height: max(100%,315px);
  z-index: 0;
}
