<div class="grid-container">
  <h1 class="mat-h1">COVID19 Informational Hub</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="350px">
    <mat-grid-tile [colspan]="( cardLayout | async )?.longCards.cols" [rowspan]="( cardLayout | async )?.longCards.rows">
      <app-aval-dd-card title="Vaccine Availability">
        <div class ="twitter" id="test"></div>
      </app-aval-dd-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.longCards.cols" [rowspan]="( cardLayout | async )?.longCards.rows">
      <app-card title="News stories" >
        <div class="twitter" id="test3">
        </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.regCards.cols" [rowspan]="( cardLayout | async )?.regCards.rows">
      <app-card title="Youtube">
        <iframe id="player" type="text/html" width="430" height="250"
          src="http://www.youtube.com/embed/1Mf3ZWmK1wM?enablejsapi=1&origin" frameborder="0">
        </iframe>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.regCards.cols" [rowspan]="( cardLayout | async )?.regCards.rows">
      <app-card title="Vaccine Data"></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.sidewayCards.cols" [rowspan]="( cardLayout | async )?.sidewayCards.rows">
      <app-elig-dd-card  title="Florida county Eligibility">
        <div class="twitter" id="test2">
        </div>
      </app-elig-dd-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
