/*@JM_OneLess && @LV_OneLess*/

.twitterRow{
  font-size: 1em;
  display: grid;
  padding: 1%;
  height: 100%;
  width: 100%;

  grid-auto-columns: 98%;
  grid-auto-rows: 40%;
  grid-auto-flow: row;

  grid-gap: 3%;
}

.twitterCol{
  box-align: stretch;
  font-size: 1em;
  display: grid;
  padding: 1%;
  height: 100%;
  width: 100%;

  grid-auto-columns: 40%;
  grid-auto-flow: column;
  grid-auto-rows: 100%;

  grid-gap: 3%;
}

.grid-container {
  margin: 1.5%;
}

.dashboard-card {
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
}

.tab-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 600px;
  width: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.updatedInfo {
  position: absolute;
  width: 125%;
  height: 100%;
  font-size: 80%;
  font-style: italic;
  font-weight: lighter;
  z-index: 0;
}
.under {
  position: relative;
  z-index: 1;
}
