.mat-card-content{
  overflow:auto;
  overflow-x: hidden;
}

.mat-card-title{
  text-align: left;
  word-wrap: break-word;
  font-size: 1.5em;
}
select{
  text-align: center;
  width:100%;
  font-size: .9em;
}

.more-button {
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 0;
}

 .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
 }


 .dashboard-card-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 95%;
    justify-content: center;
    align-items: stretch;
 }

 mat-card {
    display: flex;
    flex-direction: column;
 }
span{
  width: 125%;
  height: 100%;
  font-size: 80%;
  font-style: italic;
  font-weight: lighter;
  z-index: 0;
}
